<div class="row">
    <div class="sizedbox"></div>
    <div class="summary-table-container">
        <table class="summary-table">
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Accounts</td>
                    <td>{{totalAccountNumbers}}</td>
                </tr>
                <tr>
                    <td>Total Customers</td>
                    <td>{{totalUniqueCustomers}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
